# Auto detect text files and perform LF normalization
* text=auto

# HTML
*.html text eol=lf

# CSS
*.css text eol=lf

# JavaScript
*.js text eol=lf
*.json text eol=lf

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
