.elementor-2872
  .elementor-element.elementor-element-cff2924:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-cff2924
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2022/11/about-bg.jpg");
  background-position: bottom center;
  background-size: cover;
}
.elementor-2872
  .elementor-element.elementor-element-cff2924
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-cff2924
  > .elementor-container {
  max-width: 740px;
  min-height: 45vh;
}
.elementor-2872 .elementor-element.elementor-element-cff2924 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 100px 0px;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-2872
  .elementor-element.elementor-element-84a5173
  > .elementor-widget-container {
  margin: 88px 0px 0px 0px;
}
.elementor-2872 .elementor-element.elementor-element-84a5173 {
  text-align: center;
}
.elementor-2872
  .elementor-element.elementor-element-84a5173
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor4);
}
.elementor-widget-divider {
  --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-secondary);
}
.elementor-2872 .elementor-element.elementor-element-fc17298 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 2px;
}
.elementor-2872
  .elementor-element.elementor-element-fc17298
  .elementor-divider-separator {
  width: 50px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-2872
  .elementor-element.elementor-element-fc17298
  .elementor-divider {
  text-align: center;
  padding-block-start: 5px;
  padding-block-end: 5px;
}
.elementor-2872
  .elementor-element.elementor-element-72beff69:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-72beff69
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f0eb;
}
.elementor-2872 .elementor-element.elementor-element-72beff69 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-72beff69
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-41220ec2
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, #0000003b 100%);
  opacity: 0.5;
}
.elementor-2872
  .elementor-element.elementor-element-41220ec2:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-2872
  .elementor-element.elementor-element-41220ec2
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2872
  .elementor-element.elementor-element-41220ec2
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-41220ec2
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872 .elementor-element.elementor-element-329745ff {
  --spacer-size: 50px;
}
.elementor-2872
  .elementor-element.elementor-element-4d15e6c4
  > .elementor-element-populated {
  padding: 15% 15% 15% 15%;
}
.elementor-2872
  .elementor-element.elementor-element-6c68956e
  .elementor-heading-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1e1e50;
}
.elementor-2872
  .elementor-element.elementor-element-eec464
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  color: #4b4b73;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-2872 .elementor-element.elementor-element-36bd0c23 {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: var(--e-global-color-secondary);
}
.elementor-2872
  .elementor-element.elementor-element-4df3e05f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-4df3e05f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-2872 .elementor-element.elementor-element-4df3e05f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-4df3e05f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-4282cb1a:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-2872
  .elementor-element.elementor-element-4282cb1a
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-2872
  .elementor-element.elementor-element-4282cb1a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 15% 15% 15% 15%;
}
.elementor-2872
  .elementor-element.elementor-element-4282cb1a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-10041212
  .elementor-heading-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.elementor-2872 .elementor-element.elementor-element-14797318 {
  color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-7b8eeffb
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-dc303b8
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, #0000003b 100%);
  opacity: 0.5;
}
.elementor-2872
  .elementor-element.elementor-element-dc303b8:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-2872
  .elementor-element.elementor-element-dc303b8
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2872
  .elementor-element.elementor-element-dc303b8
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-dc303b8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872 .elementor-element.elementor-element-3d858c1a {
  --spacer-size: 50px;
}
.elementor-2872
  .elementor-element.elementor-element-34de505a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-34de505a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f0eb;
}
.elementor-2872 .elementor-element.elementor-element-34de505a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-34de505a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-4d0e10ba
  > .elementor-element-populated {
  padding: 85px 0px 65px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-42b534f8
  > .elementor-container {
  max-width: 1220px;
}
.elementor-2872
  .elementor-element.elementor-element-5627231b
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-143a0cd6
  .elementor-heading-title {
  color: #4b4b73;
}
.elementor-2872
  .elementor-element.elementor-element-184e6022
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-2872
  .elementor-element.elementor-element-3f173ee9
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-2872 .elementor-element.elementor-element-7ee23bfd {
  color: var(--e-global-color-secondary);
}
.elementor-2872 .elementor-element.elementor-element-416eab07 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-astglobalcolor3);
  --divider-border-width: 2px;
}
.elementor-2872
  .elementor-element.elementor-element-416eab07
  > .elementor-widget-container {
  padding: 10px 0px 20px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-416eab07
  .elementor-divider-separator {
  width: 100%;
}
.elementor-2872
  .elementor-element.elementor-element-416eab07
  .elementor-divider {
  padding-block-start: 5px;
  padding-block-end: 5px;
}
.elementor-2872
  .elementor-element.elementor-element-749bf284
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-2872 .elementor-element.elementor-element-18a47057 {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: var(--e-global-color-secondary);
}
.elementor-2872
  .elementor-element.elementor-element-87ues6v:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-87ues6v
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-2872 .elementor-element.elementor-element-87ues6v {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 100px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-87ues6v
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-8456be7
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-8456be7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-icon-box .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-icon-box .elementor-icon-box-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-2872
  .elementor-element.elementor-element-2f66f5c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2872 .elementor-element.elementor-element-2f66f5c {
  --icon-box-icon-margin: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-2f66f5c
  .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-2f66f5c.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-2f66f5c.elementor-view-framed
  .elementor-icon,
.elementor-2872
  .elementor-element.elementor-element-2f66f5c.elementor-view-default
  .elementor-icon {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-2872 .elementor-element.elementor-element-2f66f5c .elementor-icon {
  font-size: 40px;
}
.elementor-2872
  .elementor-element.elementor-element-2f66f5c
  .elementor-icon-box-description {
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-2b5e870
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-2b5e870
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-11b6dc2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2872 .elementor-element.elementor-element-11b6dc2 {
  --icon-box-icon-margin: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-11b6dc2
  .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-11b6dc2.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-11b6dc2.elementor-view-framed
  .elementor-icon,
.elementor-2872
  .elementor-element.elementor-element-11b6dc2.elementor-view-default
  .elementor-icon {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-2872 .elementor-element.elementor-element-11b6dc2 .elementor-icon {
  font-size: 40px;
}
.elementor-2872
  .elementor-element.elementor-element-11b6dc2
  .elementor-icon-box-description {
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-4bc8fee
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-4bc8fee
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-f49b3d5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2872 .elementor-element.elementor-element-f49b3d5 {
  --icon-box-icon-margin: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-f49b3d5
  .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-f49b3d5.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-f49b3d5.elementor-view-framed
  .elementor-icon,
.elementor-2872
  .elementor-element.elementor-element-f49b3d5.elementor-view-default
  .elementor-icon {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-2872 .elementor-element.elementor-element-f49b3d5 .elementor-icon {
  font-size: 40px;
}
.elementor-2872
  .elementor-element.elementor-element-f49b3d5
  .elementor-icon-box-description {
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-13113b5
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-13113b5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872
  .elementor-element.elementor-element-c328b64
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2872 .elementor-element.elementor-element-c328b64 {
  --icon-box-icon-margin: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-c328b64
  .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-c328b64.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-c328b64.elementor-view-framed
  .elementor-icon,
.elementor-2872
  .elementor-element.elementor-element-c328b64.elementor-view-default
  .elementor-icon {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-2872 .elementor-element.elementor-element-c328b64 .elementor-icon {
  font-size: 40px;
}
.elementor-2872
  .elementor-element.elementor-element-c328b64
  .elementor-icon-box-description {
  color: #d2d2dc;
}
.elementor-2872
  .elementor-element.elementor-element-d5be6e5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-d5be6e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f0eb;
}
.elementor-2872
  .elementor-element.elementor-element-d5be6e5
  > .elementor-container {
  max-width: 1220px;
}
.elementor-2872 .elementor-element.elementor-element-d5be6e5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 50px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-d5be6e5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872 .elementor-element.elementor-element-7b62774 {
  text-align: center;
}
.elementor-2872
  .elementor-element.elementor-element-7b62774
  .elementor-heading-title {
  color: #4b4b73;
}
.elementor-2872
  .elementor-element.elementor-element-ee64569:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-ee64569
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f0eb;
}
.elementor-2872
  .elementor-element.elementor-element-ee64569
  > .elementor-container {
  max-width: 1220px;
}
.elementor-2872 .elementor-element.elementor-element-ee64569 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 100px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-ee64569
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-widget-gallery .elementor-gallery-item__title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-gallery .elementor-gallery-item__description {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-gallery {
  --galleries-title-color-normal: var(--e-global-color-primary);
  --galleries-title-color-hover: var(--e-global-color-secondary);
  --galleries-pointer-bg-color-hover: var(--e-global-color-accent);
  --gallery-title-color-active: var(--e-global-color-secondary);
  --galleries-pointer-bg-color-active: var(--e-global-color-accent);
}
.elementor-widget-gallery .elementor-gallery-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-2872 .elementor-element.elementor-element-78c84cf {
  --image-border-radius: 15px;
  --image-transition-duration: 800ms;
  --content-text-align: center;
  --content-padding: 20px;
  --content-transition-duration: 800ms;
  --content-transition-delay: 800ms;
}
.elementor-2872
  .elementor-element.elementor-element-3bcdcfbd:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2872
  .elementor-element.elementor-element-3bcdcfbd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #034e5617;
  background-image: url("../../../../homepage/01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2872
  .elementor-element.elementor-element-3bcdcfbd
  > .elementor-background-overlay {
  background-color: var(--e-global-color-astglobalcolor2);
  opacity: 0.69;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2872 .elementor-element.elementor-element-3bcdcfbd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-2872
  .elementor-element.elementor-element-3f48380e
  > .elementor-element-populated {
  text-align: center;
  margin: 100px 0px 100px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 25px 50px 25px 50px;
}
.elementor-2872
  .elementor-element.elementor-element-1cc61d24
  .elementor-heading-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.elementor-2872
  .elementor-element.elementor-element-309453d4
  > .elementor-widget-container {
  padding: 0px 0px 25px 0px;
}
.elementor-2872
  .elementor-element.elementor-element-309453d4
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-2872 .elementor-element.elementor-element-ddac6df .elementor-button {
  background-color: #ffffff;
  fill: var(--e-global-color-astglobalcolor1);
  color: var(--e-global-color-astglobalcolor1);
}
body.elementor-page-2872:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2872
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-astglobalcolor5);
}
@media (min-width: 768px) {
  .elementor-2872 .elementor-element.elementor-element-5627231b {
    width: 30%;
  }
  .elementor-2872 .elementor-element.elementor-element-184e6022 {
    width: 69.332%;
  }
}
@media (max-width: 1024px) {
  .elementor-2872
    .elementor-element.elementor-element-cff2924
    > .elementor-container {
    min-height: 40vh;
  }
  .elementor-2872
    .elementor-element.elementor-element-4d15e6c4
    > .elementor-element-populated {
    padding: 7% 7% 7% 7%;
  }
  .elementor-2872
    .elementor-element.elementor-element-eec464
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-2872
    .elementor-element.elementor-element-4282cb1a
    > .elementor-element-populated {
    padding: 7% 7% 7% 7%;
  }
  .elementor-2872
    .elementor-element.elementor-element-7b8eeffb
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-2872 .elementor-element.elementor-element-34de505a {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2872
    .elementor-element.elementor-element-4d0e10ba
    > .elementor-element-populated {
    padding: 50px 0px 40px 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-5627231b
    > .elementor-element-populated {
    padding: 0px 25px 0px 10px;
  }
  .elementor-2872
    .elementor-element.elementor-element-184e6022
    > .elementor-element-populated {
    padding: 0px 25px 0px 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-416eab07
    > .elementor-widget-container {
    padding: 15px 0px 0px 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-87ues6v {
    padding: 60px 30px 60px 30px;
  }
  .elementor-2872
    .elementor-element.elementor-element-8456be7
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-2f66f5c {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-2f66f5c
    .elementor-icon-box-title {
    margin-bottom: 10px;
  }
  .elementor-2872 .elementor-element.elementor-element-2f66f5c .elementor-icon {
    font-size: 35px;
  }
  .elementor-2872
    .elementor-element.elementor-element-2b5e870
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-11b6dc2 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-11b6dc2
    .elementor-icon-box-title {
    margin-bottom: 10px;
  }
  .elementor-2872 .elementor-element.elementor-element-11b6dc2 .elementor-icon {
    font-size: 35px;
  }
  .elementor-2872
    .elementor-element.elementor-element-4bc8fee
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-f49b3d5 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-f49b3d5
    .elementor-icon-box-title {
    margin-bottom: 10px;
  }
  .elementor-2872 .elementor-element.elementor-element-f49b3d5 .elementor-icon {
    font-size: 35px;
  }
  .elementor-2872
    .elementor-element.elementor-element-13113b5
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-c328b64 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-c328b64
    .elementor-icon-box-title {
    margin-bottom: 10px;
  }
  .elementor-2872 .elementor-element.elementor-element-c328b64 .elementor-icon {
    font-size: 35px;
  }
  .elementor-2872 .elementor-element.elementor-element-d5be6e5 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2872
    .elementor-element.elementor-element-8cc9615
    > .elementor-element-populated {
    padding: 0px 0px 30px 10px;
  }
  .elementor-2872 .elementor-element.elementor-element-ee64569 {
    padding: 0px 30px 0px 30px;
  }
  .elementor-2872 .elementor-element.elementor-element-3bcdcfbd {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-3f48380e
    > .elementor-element-populated {
    margin: 50px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 25px 25px 25px 25px;
  }
}
@media (max-width: 767px) {
  .elementor-2872
    .elementor-element.elementor-element-cff2924
    > .elementor-container {
    min-height: 40vh;
  }
  .elementor-2872 .elementor-element.elementor-element-cff2924 {
    padding: 20px 20px 0px 20px;
  }
  .elementor-2872
    .elementor-element.elementor-element-f750853
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-329745ff {
    --spacer-size: 300px;
  }
  .elementor-2872
    .elementor-element.elementor-element-4d15e6c4
    > .elementor-element-populated {
    padding: 7% 7% 7% 7%;
  }
  .elementor-2872
    .elementor-element.elementor-element-4282cb1a
    > .elementor-element-populated {
    padding: 7% 7% 7% 7%;
  }
  .elementor-2872 .elementor-element.elementor-element-3d858c1a {
    --spacer-size: 300px;
  }
  .elementor-2872
    .elementor-element.elementor-element-4d0e10ba
    > .elementor-element-populated {
    padding: 20px 20px 20px 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-5627231b
    > .elementor-element-populated {
    padding: 0px 0px 10px 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-87ues6v {
    padding: 60px 0px 50px 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-8456be7 {
    width: 50%;
  }
  .elementor-2872
    .elementor-element.elementor-element-8456be7
    > .elementor-element-populated {
    padding: 0px 20px 30px 20px;
  }
  .elementor-2872 .elementor-element.elementor-element-2f66f5c {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-2f66f5c
    .elementor-icon-box-title {
    margin-bottom: 1px;
  }
  .elementor-2872 .elementor-element.elementor-element-2f66f5c .elementor-icon {
    font-size: 31px;
  }
  .elementor-2872 .elementor-element.elementor-element-2b5e870 {
    width: 50%;
  }
  .elementor-2872
    .elementor-element.elementor-element-2b5e870
    > .elementor-element-populated {
    padding: 0px 20px 30px 20px;
  }
  .elementor-2872 .elementor-element.elementor-element-11b6dc2 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-11b6dc2
    .elementor-icon-box-title {
    margin-bottom: 1px;
  }
  .elementor-2872 .elementor-element.elementor-element-11b6dc2 .elementor-icon {
    font-size: 31px;
  }
  .elementor-2872 .elementor-element.elementor-element-4bc8fee {
    width: 50%;
  }
  .elementor-2872
    .elementor-element.elementor-element-4bc8fee
    > .elementor-element-populated {
    padding: 20px 20px 30px 20px;
  }
  .elementor-2872 .elementor-element.elementor-element-f49b3d5 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-f49b3d5
    .elementor-icon-box-title {
    margin-bottom: 1px;
  }
  .elementor-2872 .elementor-element.elementor-element-f49b3d5 .elementor-icon {
    font-size: 31px;
  }
  .elementor-2872 .elementor-element.elementor-element-13113b5 {
    width: 50%;
  }
  .elementor-2872
    .elementor-element.elementor-element-13113b5
    > .elementor-element-populated {
    padding: 20px 20px 30px 20px;
  }
  .elementor-2872 .elementor-element.elementor-element-c328b64 {
    --icon-box-icon-margin: 0px;
  }
  .elementor-2872
    .elementor-element.elementor-element-c328b64
    .elementor-icon-box-title {
    margin-bottom: 1px;
  }
  .elementor-2872 .elementor-element.elementor-element-c328b64 .elementor-icon {
    font-size: 31px;
  }
  .elementor-2872
    .elementor-element.elementor-element-8cc9615
    > .elementor-element-populated {
    padding: 0px 0px 30px 0px;
  }
  .elementor-2872 .elementor-element.elementor-element-ee64569 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2872
    .elementor-element.elementor-element-3f48380e
    > .elementor-element-populated {
    margin: 0px 25px 0px 25px;
    --e-column-margin-right: 25px;
    --e-column-margin-left: 25px;
    padding: 75px 0px 75px 0px;
  }
}
@media (min-width: 1025px) {
  .elementor-2872
    .elementor-element.elementor-element-41220ec2:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
  .elementor-2872
    .elementor-element.elementor-element-41220ec2
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
  .elementor-2872
    .elementor-element.elementor-element-dc303b8:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
  .elementor-2872
    .elementor-element.elementor-element-dc303b8
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
} /* Start custom CSS for section, class: .elementor-element-87ues6v */
body {
  background-color: #f4f0eb;
} /* End custom CSS */
